<mat-card>
  <mat-card-content>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
      <h2 class="card-header">Register</h2>
      <mat-error *ngIf="error$ | async as error">
        {{ error }}
      </mat-error>
      <mat-form-field>
        <input matInput formControlName="email" placeholder="Email" name="email" required>
        <mat-error *ngIf="submitted && f['email'].errors">
          <span *ngIf="f['email'].hasError('required')">
            Email is required
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput type="password" formControlName="password" placeholder="Password" name="password" required>
        <mat-error *ngIf="submitted && f['password'].errors">
          <span *ngIf="f['password'].hasError('required')">
            Password is required
          </span>
          <span *ngIf="f['password'].hasError('minlength')">
            The minimum length for password is {{f['password'].errors['minlength'].requiredLength}} characters
          </span>
          <span *ngIf="f['password'].hasError('maxlength')">
            The maximum length for password is {{f['password'].errors['maxlength'].requiredLength}} characters
          </span>
        </mat-error>
      </mat-form-field>
      <button mat-flat-button data-testid="register-btn" class="tertiary-button" [disabled]="isLoading$ | async">
        Register
      </button>
      <span *ngIf="isLoading$ | async" class="spinner-border spinner-border-sm me-1"></span>
    </form>
  </mat-card-content>
</mat-card>
